[submodule "reef-estimator-2"]
	path = reef-estimator-2
	url = https://github.com/uf-reef-avl/reef_estimator_2
[submodule "reef_control"]
	path = reef_control
	url = https://github.com/uf-reef-avl/reef_control/
[submodule "reef_msgs"]
	path = reef_msgs
	url = https://github.com/uf-reef-avl/reef_msgs
[submodule "setpoint_generator"]
	path = setpoint_generator
	url = https://github.com/uf-reef-avl/setpoint_generator
[submodule "dubins_path"]
	path = dubins_path
	url = https://github.com/uf-reef-avl/dubins_path
[submodule "sim_helper"]
	path = sim_helper
	url = https://github.com/uf-reef-avl/sim_helper
[submodule "rosflight"]
	path = rosflight
	url = https://github.com/rosflight/rosflight
[submodule "vo-sim"]
	path = vo-sim
	url = https://github.com/uf-reef-avl/vo-sim
